/*------------------------------------*\
    IMPORT FRAMEWORK
\*------------------------------------*/
@import "../framework/build";


/*------------------------------------*\
    ADD SOME GLOBAL STYLES
\*------------------------------------*/

body {
	font-size: $base-font-size;
	font-family: $base-font-family;
	min-width: $site-min-width;
}

.wrapper {
	max-width: $site-max-width;
	margin: 0 auto;
	padding: 0 $gutter;
	
	@include media-query("desk") {
		width: $site-max-width;
	}
}

.clear {
	
	&:after,
	&:before {
		content: "";
		clear: both;
		display: block;
	}
}

.is-hidden {
	display: none;
}

.is-visible {
	display: block !important;
}

.is-muted {
	@include opacity(0.5);
}

.is-hidden--text {
  position: absolute !important;
  height: 1px; 
  width: 1px; 
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.no-print {
	@include print() {
		display: none;
	}
}


/*------------------------------------*\
    MIXINS
\*------------------------------------*/

//@import "mixins/your-mixin"; <-- file would be _your-mixin.scss


/*------------------------------------*\
    HELPERS
\*------------------------------------*/

//@import "helpers/your-helper"; <-- file would be _your-helper.scss


/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/

//@import "components/your-component"; <-- file would be _your-component.scss


/*------------------------------------*\
    LAYOUTS
\*------------------------------------*/

//@import "layouts/your-layout"; <-- file would be _your-layout.scss


/*------------------------------------*\
    ANIMATIONS
\*------------------------------------*/

//@import "animations/your-animation"; <-- file would be _your-animation.scss


// Import the shame
@import "shame";