/*------------------------------------*\
    BREAKPOINTS
\*------------------------------------*/

$breakpoint--palm: "max-width: 683px";
$breakpoint--lap: "max-width: 999px";
$breakpoint--desk: "min-width: 1000px";
$breakpoint--desk--wide: "min-width: 1300px";
$breakpoint--lap-and-up: "min-width: 684px";

/*------------------------------------*\
    TYPOGRAPHY
\*------------------------------------*/
$base-font-size: 16px;
$base-line-height-ratio: 1.7;
$base-font-family: Helvetica, Arial, sans-serif;